# Use native line endings for text files

# Source codes are text files
*.c text
*.h text
*.cpp text
*.hpp text
*.cc text
*.hh text

# Trajectory files are binary
*.dcd binary

# Command line scripts have to maintain native line ending
install.sh text eol=lf
install.bat text eol=crlf

